:root {
    --negro: #0d1117;
    --azul-oscuro: #1e3a8a;
    --azul-vivo: #2563eb;
    --violeta-oscuro: #6b21a8;
    --violeta-vivo: #a855f7;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, var(--negro), var(--azul-oscuro));
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px;
}
.button-container a {
    text-decoration: none;
    background-color: var(--azul-vivo); 
    color: #fff; /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    text-transform: uppercase; /* Texto en mayúsculas */
    width: 100%; /* Ancho completo si está en un contenedor */
    display: flex; /* Flexbox para centrar */
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    transition: all 0.3s ease; /* Transición suave para efectos */
}

/* Efecto al pasar el ratón */
.button-container a:hover {
    background-color: #0056b3; /* Color más oscuro en hover */
    transform: scale(1.05); /* Ligeramente más grande */
}

/* Efecto activo (clic) */
.button-container a:active {
    transform: scale(0.95); /* Ligeramente más pequeño */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduce la sombra */
}
